@page
@model ElevatorAdministrationApplication.Pages.Statistics.StatisticsPageModel
@{
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>






